-- Basit material_prices tablosu oluştur
DROP TABLE IF EXISTS material_prices CASCADE;

CREATE TABLE material_prices (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  material_type TEXT NOT NULL UNIQUE,
  unit_price DECIMAL(10,2) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- RLS'yi etkinleştir
ALTER TABLE material_prices ENABLE ROW LEVEL SECURITY;

-- Basit politikalar
CREATE POLICY \
Anyone
can
view
material
prices\ ON material_prices FOR SELECT USING (true);
CREATE POLICY \Anyone
can
insert
material
prices\ ON material_prices FOR INSERT WITH CHECK (true);
CREATE POLICY \Anyone
can
update
material
prices\ ON material_prices FOR UPDATE USING (true);

-- Test için birkaç malzeme ekle
INSERT INTO material_prices (material_type, unit_price) VALUES
  ('beyaz_alcipan', 45.00),
  ('c_profili', 8.00),
  ('u_profili', 12.00),
  ('aski_teli', 2.50),
  ('vida', 0.30);
